@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css";
@import "https://fonts.googleapis.com/css?family=Poppins";

:root {
  font-family: "Poppins";
  font-size: 16px;
  --primary_color: #FD7400;
  --light_bg: #efefef;
  --very_light_bg: #ececec;
  --dark_font: #222;
  --dark-font: #222;
  --light_font: #ececec;
  --dark_bg: #222;
  --alpha_bg_white: rgba(255, 255, 255, 0.4);
  --alpha_bg_dark: rgba(255, 255, 255, 0.2);
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1.5;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.link {
  color: #000;
}

.hide {
  display: none !important;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  overflow: hidden;
}

a,
a:visited,
a:link {
  text-decoration: none;
  color: var(--dark-font);
}

.flex_box {
  display: flex;
  justify-content: space-between;
}

.space_around {
  justify-content: space-around;
}

.space_center {
  justify-content: center;
}

.space_even {
  justify-content: space-evenly;
}
.wrap {
  flex-wrap: wrap;
}

.no_message {
  width: 100%;
  text-align: center;
  margin: 30px 0;
}
.no_message span {
  display: inline-block;
  padding: 10px 20px;
  background-color: var(--dark_bg);
  color: #efefef;
  border-radius: 10px;
}

.space_start {
  justify-content: start;
}

.align_right {
  text-align: right;
}
.align_center {
  text-align: center !important;
}

.align_left {
  text-align: left !important;
}

.font_primary {
  color: var(--primary_color) !important;
}

.fa {
  display: inline-block;
  font-size: 20px;
  padding: 0 10px 0 0;
}

.logo {
  display: inline-block;
  margin: 10px;
  img {
    width: 200px;
    vertical-align: middle;
  }
  h1 {
    display: inline-block;
    padding-top: 10px;
    margin-left: 10px;
    vertical-align: middle;
    font-size: 32px;
  }
}

.backdrop {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--alpha_bg_dark);
  z-index: 10;
}

.small {
  font-size: 12px;
}

main {
  min-height: 600px;
  position: relative;

  &.loading{
    > section{
      opacity: 0;
    }
    &:before{
      position: fixed;
      content: '';
      width: 100%;
      border-bottom: 4px solid var(--primary_color);
      animation: scaleright 1s linear infinite;
      z-index: 2;
      top: 0;
      left: 0;
    }
  }
}

@keyframes scaleright {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }  
}

.show {
  display: initial;
}

.font_xxl {
  font-size: 40px;
  margin: 20px 0;
}

.title_highlight {
  position: relative;
  z-index: 1;
  overflow: visible;
  margin: 60px 0 10px 60px;
  &::after,
  &::before {
    content: "";
    position: absolute;
    z-index: -1;
    border-radius: 5px;
    top: -53px;
    background-color: var(--light_bg);
  }
  &.dark::after,
  &.dark::before {
    background-color: var(--alpha_bg_dark);
  }
  &::after {
    top: -6px;
    left: -11px;
    width: 32px;
    height: 32px;
  }
  &::before {
    left: -60px;
    top: -53px;
    width: 48px;
    height: 48px;
  }
}

.star {
  margin: 10px 0;
  .checked {
    color: var(--primary_color);
  }
  .fa {
    padding: 0 5px 0 0;
  }
}