.career_page {
  .career {
    margin: 30px 0 0;

    .inside {
      justify-content: flex-start;
    }

    .career_list {
      max-width: 900px;
      margin: 50px auto 30px;

      .list_item {
        background-color: #efefef;
        padding: 20px;
        border-left: 2px solid #66ae3e;
        display: flex;

        &:nth-child(even) {
          background-color: #cecece;
        }

        > div {
          width: 300px;
          margin: 0 20px 0;
          text-align: center;
          p {
            margin-top: 10px;
          }
        }
        > p {
          text-align: left;
          padding: 20px;
        }

        button {
          display: inline-block;
          font-weight: bold;
          font-size: 14px;
          border: 2px solid #66ae3e;
          background-color: transparent;
          padding: 10px;
          width: 100px;
          margin-top: 30px;
          text-align: center;
          cursor: pointer;
        }
      }
    }
    .career_ext {
      background-color: #efefef;
      padding: 50px 20px;
      position: relative;
      margin-top: 100px;

      .message {
        width: 500px;

        h2 {
          font-size: 30px;
          border-left: 4px solid #66ae3e;
          margin-bottom: 30px;
        }

        h2,
        p {
          padding-left: 20px;
        }
      }

      .reach_us {
        .fa {
          font-size: 30px;
        }
        button {
          border: 2px solid #66ae3e;
          color: #66ae3e;
          background-color: transparent;
          padding: 10px;
          font-size: 24px;
          margin-top: 30px;
        }
        p.message {
          margin: 20px;
          font-size: 20px;
          color: #222;
        }
      }

      img {
        position: absolute;
        bottom: -32px;
        right: 60px;
        width: 300px;
        z-index: 10;
      }
    }
  }
}

@media (max-width: 960px) {
  .career_page .career .career_list .list_item {
    flex-wrap: wrap;
  }
  .career_page .career .career_list .list_item > div,
  .career_page .career .career_list .list_item > p {
    text-align: left;
  }

  .career_ext img {
    display: none;
  }

  .career_page .career .inside {
    flex-wrap: wrap;
  }

  .reach_us {
    margin: 20px;
  }
}
