.footer {
  background-color: var(--light_bg);
  color: var(--dark-font);
  .footer_logo {
    margin: 10px 0 30px;
  }
  .footer_info {
    padding: 20px;
    max-width: 340px;
    height: auto;
    transition: height .3s ease-in-out;
    h3 {
      display: flex;
      justify-content: space-between;
      .icon_button {
        border: none;
        cursor: pointer;
        display: none;
      }
    }
    
    ul {
      margin-top: 20px;
      flex-wrap: wrap;
    }
    .nav a {
      width: 120px;
      margin: 10px 0;
    }
    a.address {
      display: inline-block;
      color: var(--dark-font);
      text-align: left;
      vertical-align: top;
      margin-top: 10px;
      .fa {
        width: 20px;
        text-align: center;
      }
      span {
        display: inline-block;
        line-height: 30px;
        vertical-align: top;
      }
    }
  }

  .follow {
    margin: 20px;
    a {
      margin: 0;
      display: inline-block;
      width: 40px;
      height: 40px;
      line-height: 40px;
      background-color: #efefef;
      border-radius: 50%;
      text-align: center;
      .fa {
        padding: 0;
      }
    }
  }
}
.copyright {
  text-align: center;
  background-color: #111;
  padding: 10px;
}

.scroll_button {
  position: fixed;
  right: 30px;
  bottom: 30px;
  width: 30px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
  background-color: var(--primary_color);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.4);
  color: #efefef;
  z-index: 10;
  line-height: 50px;
  padding: 0 10px;
}

.scroll_button .fa {
  font-size: 42px;
}

@media (max-width: 1024px) {
  footer {
    .flex_box {
      flex-wrap: wrap;
      justify-content: flex-start;
      .footer_info {
        max-width: 100%;
      }
    }
  }
}

@media (max-width: 600px) {
  footer {
    .footer_info {
      min-width: calc(100% - 40px);
      &.minimize{
        height: 40px;
        overflow: hidden;           
      }
      .icon_button {
        display: initial !important;
      }
      &:first-child {
        .logo {
          img {
            width: 160px;
          }
        }
        .follow {
          margin: 0;
        }
      }

      &:nth-child(2) {
        padding: 0 20px;
      }
    }
  }
}
