.home {
  .banner {
    position: relative;
    color: #fff;
    height: 530px;

    p {
      color: #efefef;
      text-align: justify;
    }
    .banner_images {
      position: absolute;
      width: 100%;
      height: 100%;
      overflow: hidden;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    .scale_anim {
      display: initial;
      transform: scale(1.4);
      animation: fadeIn 2s ease-out;
    }

    &.animation .banner_message {
      transform: scale(1);
      animation: expandAnim 1s ease 1s;
    }
    &.animation img.man {
      bottom: 0;
      opacity: 1;
      animation: moveTop 1s ease 1s;
    }

    .container {
      position: relative;
      overflow: hidden;
      height: 100%;
      img.man {
        position: absolute;
        right: 0;
        bottom: 0;
        width: 500px;
        height: 500px;
      }
    }

    .banner_message {
      position: absolute;
      padding: 20px;
      width: calc(100% - 60px);
      max-width: 600px;
      left: 20px;
      top: 70px;
      border-radius: 10px;

      & > p,
      & > h1 {
        margin-bottom: 20px;
      }
      & > p.message {
        padding: 20px 30px 0 0;
      }
      h1 {
        font-size: 38px;
      }

      a.simple {
        display: inline-block;
        border: 1px solid #ccc;
        color: var(--primary_color);
        background-color: transparent;
        padding: 10px;
        margin: 10px 10px 0;
        cursor: pointer;
      }
    }
  }
  .about {
    margin: 60px auto;
    padding: 0 20px;
    .about_right {
      position: relative;
      width: calc(50% - 40px);
      height: 500px;
      img {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        aspect-ratio: 1 / 1;
      }
    }
    .content {
      width: 45%;

      .list {
        li {
          margin: 20px 0;
          justify-content: flex-start;
          p {
            padding: 10px 10px 0 0;
          }
        }
      }

      .title_highlight {
        position: relative;
        z-index: 1;
        overflow: visible;
        margin: 70px 0 20px 70px;
        &::after,
        &::before {
          content: "";
          position: absolute;
          z-index: -1;
          border-radius: 5px;
          top: -53px;
          background-color: #ececec;
        }
        &::after {
          top: -6px;
          left: -11px;
          width: 32px;
          height: 32px;
        }
        &::before {
          left: -60px;
          top: -53px;
          width: 48px;
          height: 48px;
        }
      }
    }

    &.animation {
      .about_right {
        overflow: hidden;
        img {
          &:last-child {
            left: 0;
            animation: moveFromLeft 0.5s linear 1s;
          }
          &:first-child {
            right: 0;
            animation: moveFromRight 0.5s linear 1s;
          }
        }
      }
      .content {
        overflow: hidden;
        h3.title_highlight,
        h1,
        p,
        ul li {
          position: relative;
          right: 0;
          top: 0;
          animation: moveFromRight 0.5s ease 1s;
        }
      }
    }
  }
}

@keyframes moveFromLeft {
  0% {
    left: -300px;
  }
  100% {
    left: 0;
  }
}

@keyframes moveFromRight {
  0% {
    right: -300px;
  }
  100% {
    right: 0;
  }
}

@media (max-width: 900px) {
  .home {
    .banner {
      height: 450px;
      .banner_message {
        top: 20px;
        left: 10px;
        padding: 10px;
        width: calc(100% - 30px);
        p.message {
          padding: 20px 10px 0 0;
        }
      }
    }

    .about {
      flex-direction: column;
      .about_right {
        width: 100%;
      }
      .content {
        width: 100%;
      }
    }
  }
}

@media (max-width: 1024px) {
  .home {
    .banner {
      img.man {
        display: none;
      }
    }
  }
}

@keyframes moveTop {
  0% {
    bottom: -120px;
  }
  100% {
    bottom: 0;
  }
}

@keyframes expandAnim {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
