.home {
  .banner {
    position: relative;
    color: #fff;
    height: 530px;

    p {
      color: #efefef;
      text-align: justify;
    }
    .banner_images {
      position: absolute;
      width: 100%;
      height: 100%;
      overflow: hidden;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    .scale_anim {
      display: initial;
      transform: scale(1.4);
      animation: fadeIn 2s ease-out;
    }

    &.animation .banner_message {
      transform: scale(1);
      animation: expandAnim 1s ease 1s;
    }
    &.animation img.man{
      bottom: 0;
      opacity: 1;
      animation: moveTop 1s ease 1s;
    }

    .container {
      position: relative;
      overflow: hidden;
      height: 100%;
      img.man {
        position: absolute;
        right: 0;
        bottom: 0;
        width: 500px;        
        height: 500px;        
      }
    }

    .banner_message {
      position: absolute;
      padding: 20px;
      width: calc(100% - 60px);
      max-width: 600px;
      left: 20px;
      top: 70px;
      border-radius: 10px;

      & > p,
      & > h1 {
        margin-bottom: 20px;
      }
      & > p.message {
        padding: 20px 30px 0 0;
      }
      h1 {
        font-size: 38px;
      }

      a.simple {
        display: inline-block;
        border: 1px solid #ccc;
        color: var(--primary_color);
        background-color: transparent;
        padding: 10px;
        margin: 10px 10px 0;
        cursor: pointer;
      }
    }
  }

}
@media (max-width: 900px) {
  .home {
    .banner {
      height: 450px;
      .banner_message {
        top: 10px;
        left: 10px;
        padding: 10px;
        width: calc(100% - 30px);
        p.message {
          padding: 20px 10px 0 0;
        }
      }
    }
  }
}

@media (max-width: 1024px) {
  .home {
    .banner {
      img.man {
        display: none;
      }
    }
  }
}

@keyframes moveTop {
  0% {
    bottom: -400px;
    opacity: 0;
  }
  100% {
    bottom: 0;
    opacity: 1;
  }
}

@keyframes moveFromTop {
  0% {
    top: -50px;
    opacity: 0;
  }
  60% {
    top: 20px;
  }
  100% {
    top: 0;
    opacity: 1;
  }
}

@keyframes moveFromRight {
  0% {
    left: 400px;
    opacity: 0;
  }
  100% {
    right: 0px;
    opacity: 1;
  }
}

@keyframes scaleUp {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes moveUpDown {
  0% {
    top: 120px;
    opacity: 0;
  }
  80% {
    top: -30px;
    opacity: 0.8;
  }
  100% {
    top: 0;
    opacity: 1;
  }
}

@keyframes expandAnim {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0.2;
    transform: scale(1.4);
  }
  50% {
    opacity: 0.5;
    transform: scale(1);
  }
  100% {
    opacity: 1;
    transform: scale(1.4);
  }
}
